body {
    background-color: #222222;
    color: white;
    overflow: auto;
}

#reqresult {
    background-color: white;
    color: black;
    padding: 0.5em;
    margin-left: 2em;
    margin-top: 1em;
    width: 500px;
    min-height: 200px;
    overflow: auto;
}

.background-snd {
    background-color: #333333;
}

.black-color {
    color: black;
}

.form-padding {
    padding: 1rem;
}

.form-border {
    border: 0.1rem solid #333333;
    border-radius: 3%;
}

.grid-cell {
    height: 200px;
}

.grid-cell-div {
    box-shadow: 0px 0px 22px -5px rgba(0,0,0,0.75);
    box-sizing: border-box;
}

.grid-name {
    height: 20px;
    overflow: hidden;
    text-align: center;
}

.grid-image {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.grid-image-div {
    position: relative;
    height: 180px;
}

.grid-image-div:hover .more-dropdown {
    display: block;
}

.more-dropdown {
    position: absolute;
    display: none;
    bottom: 0;
    right: 0;
    z-index: 100;
}

.more-button {
    position: relative;
    width: 25px;
    height: 30px;
}

.more-image {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

#auth-form {
    padding-top: 0.5rem;
}

#auth-row {
    padding-top: 5rem;
}

#auth-images {
    padding-top: 2rem;
}

#auth-images > p {
    color: gray;
}

.date-field {
    width: 100px;
}

.overflow-ellipsis {
    text-overflow: ellipsis;
}

.overflow-hidden {
    overflow: hidden;
}

.filelist {
    padding-top: 2em;
    height: 200px;
    overflow: auto;
}

.show {
    display: block;
}

.showimage {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 10000;
}

.showimage-image-div {
    background-color: black;
    width: 100vw;
}

.showimage-image {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: scale-down;
}

.showimage-info {
    background-color: #111111;
    width: 100vw;
}